*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 16px;
}

img {
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  vertical-align: middle;
}

.detail-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.detail-view {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.info-col {
  max-width: 30%;
  padding: 1rem;
}

.image-col {
  max-width: 70%;
  max-height: 94vh;
  min-width: calc(33% + 250px);
}

.apod-explanation {
  text-align: justify;
}

.image-col .apod-media img,
.image-col .apod-media iframe {
  max-width: 100%;
  max-height: 94vh;
}

.list-container {
  position: relative;
  max-width: 1215px; // 1200px + 15px scroll-bar-width
  margin: 0 auto;
  height: 100vh;
}

.list-item {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 400px;
  padding: 0.15rem;
}

.list-item .apod-media > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: inline;
}
