@import 'settings';
@import 'foundation';

.grid-content .grid-block .grid-content {
  overflow: hidden;
}

.full-height {
  height: 100vh;
}

.grid-frame > .liquid-child {
  @extend .grid-block;
}


.apod-explanation {
  text-align: justify;
}

.image-col {
  text-align: center;
  max-height: 94vh;
}

.load-more.button {
  position: absolute;
  margin: 0;
}

.list-item {
  padding: 0.5rem 0;
  overflow: hidden;
  height: 400px;
}

.apod-media > img {
  max-height: 400px;
  width: auto;
  overflow: hidden;
}

.list-container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  height: 100vh;
}
