.list-container {
  position: relative;
  max-width: 1215px; // 1200px + 15px scroll-bar-width
  margin: 0 auto;
  height: 100vh;
}

.list-item {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 400px;
  padding: 0.15rem;
}

.list-item a {
  text-decoration: none;
  display: block;
}

.list-item .apod-media > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: inline;
}

.list-media-placeholder {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.list-media-placeholder .list-media-placeholder-subtitle {
  font-style: oblique;
  color: #ccc;
  font-size: 21px;
}

.list-media-placeholder .list-media-placeholder-title {
  font-size: 48px;
  width: 100%;
  line-height: 1;
  margin: 0 0 1.25rem 0;
}
