.search-input {
  display: flex;
  align-items: stretch;
}
.search-input > input {
  border: 0;
  padding: 0.25rem;
  font-size: 1.4rem;
}

.search-input .fa {
  background-color: #fff;
  padding: 0.25rem;
  margin-right: 0;
}
