<div class="grid-block">
    <div class="grid-block">
      <div class="grid-content">
        <h2>{{model.title}}</h2>
        <p>{{model.explanation}}</p>
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-content">
        <img src="{{model.url}}" class="apod-image-sd" />
      </div>
    </div>
</div>
