<div class="detail-container">
  <div class="detail-view">
    <div class="info-col">
      <h2 class="apod-title">{{model.title}}</h2>
      <p class="apod-explanation">{{model.explanation}}</p>
    </div>
    <div class="image-col">
      {{media-item item=model}}
    </div>
  </div>
</div>
