
<div class="grid-content list-container">
  {{#ember-collection items=sortedByDate cell-layout=(fixed-grid-layout 800 400)
    as |item index|}}
    {{#if (is-first index)}}
      <button class="load-more button expand" {{action "loadPrevious"}}>Load more?</button>
    {{/if}}

    {{#link-to 'apod' item}}
      {{apod-media modelId=item.id type=item.mediaType src=item.url}}
    {{/link-to}}

    {{#if (is-last model index)}}
      <button class="load-more button expand" {{action "loadNext"}}>Load more?</button>
    {{/if}}
  {{/ember-collection}}
</div>
