
<div class="grid-content list-container">
  {{#measure-width as |width|}}
    {{#ember-collection items=model cell-layout=(fixed-grid-layout width 400)
      as |item index|}}
      {{#if (is-first index)}}
        {{load-more-button action="loadPrevious" text="Load More"}}
      {{/if}}

      {{#link-to 'apod' item}}
        {{index}}{{apod-media modelId=item.id type=item.mediaType src=item.url}}
      {{/link-to}}

      {{#liquid-if (is-last model index)}}
        {{load-more-button action="loadNext" text="Load More"}}
      {{/liquid-if}}
    {{/ember-collection}}
  {{/measure-width}}
</div>
