<div class="page-container">
  <div class="top-bar">
    <div class="top-bar-left-group">
      left-group
    </div>

    <div class="top-bar-right-group">
      right-group
    </div>
  </div>
  <div class="list-container">
    {{#ember-collection class="apod-list" buffer="10"
      items=sortedByDate cell-layout=(fixed-grid-layout 600 400)
      estimated-width=1200
      scroll-top=scrollTop scroll-left=scrollLeft scroll-change=(action "scrollChange")
      as |item index|}}
      <div class="list-item">
        {{#link-to 'apod' item}}
          {{list-media-item item=item}}
        {{/link-to}}
      </div>
    {{/ember-collection}}
  </div>
</div>
