{{#measure-width class="list-container" as |width|}}
  {{#ember-collection class="apod-list" buffer="10"
    items=sortedByDate cell-layout=(fixed-grid-layout 600 400)
    scroll-top=scrollTop scroll-left=scrollLeft scroll-change=(action "scrollChange")
    as |item index|}}
    <div class="list-item">
      {{#link-to 'apod' item}}
        {{apod-media modelId=item.id type=item.mediaType src=item.url}}
      {{/link-to}}
    </div>
  {{/ember-collection}}
{{/measure-width}}
